html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: url('Working Copy.jpg') no-repeat center center fixed;
  /*background-image: url('background.jpg');
  background-size: auto auto;*/
}
form {
  width: 100%;
}
.inputBoxes {
  width: 400px ;
}
.buttons {
  display: flex;
  flex-directin: row;
  justify-content: space-around;
}
.main-container {
  width: 75%;
  margin: 10px auto;
  /*background: rgba(204, 204, 170, .5);*/
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-container {
  min-height: 30px;
  width: 50%;
  margin: 3px 25px;
  font-size: 17px;
  background: rgba(170, 94, 43, .5);
  border-radius: 15px;
  padding: 10px;
}
p{
  text-align: left;
  margin: 0px;
}
span {
  display: block;
  text-align: right;
  /*margin-right: 10px;*/
}

.main-container h1 {
  text-align: center;
}